*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    background-color: rgb(0, 132, 184);
    background-image: url(../img/pattern.png);
    background-size:auto;
}

#logo-bool{
    height: 160px;
    width: 250px;
    margin-top: 30px;
}

.container{
    width: 1200px;
    margin: auto;
}

h1{
    margin-top: 20px;
    font-size: 32pt;
}

.grey-small-text{
    color: grey;
    font-size: 16pt;
}

.blue-text{
    color: rgb(0, 132, 184);
}

#grey-smaller{
    font-size: 12pt;
}